<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">FirstName</th>
			<th scope="col">LastName</th>
			<th scope="col">Designation</th>
			<th scope="col">Edit</th>
			<th scope="col">Delete</th>
		</tr>
	</thead>
	<tbody>
	<tr *ngFor= "let emp of allEmployee">
		<td>{{emp.firstName}}</td>
		<td>{{emp.lastName}}</td>
		<td>{{emp.designation}}</td>
		<td>
			<a class="btn">
				<i class="fa fa-edit" (click)="edit(emp)" ></i>
			</a>
		</td>
		<td>
		<a class="btn text-danger" (click)="deleteEmployee(emp.id)" >
				<i class="fa fa-trash"></i>
			</a>
		</td>
	</tr>
</tbody>
	
	
</table>